In [1]:
import pandas as pd

from datasets_leetcode import DatasetLeetcode
from solutions_leetcode import SolutionsLeetcode

In [2]:
leetcode = DatasetLeetcode()
solutions = SolutionsLeetcode(leetcode)

In [3]:
# Example: Write a solution to find the dummy data. This shows how to verify the solution
dummy = leetcode.dummy_data()

In [4]:
# Write your solution here.
result = dummy[dummy["a"] == 1]

print("Result:")
print(result)
print("Solution:")
print(solutions.dummy_data())

Result:
   a  b  c
0  1  4  7
Solution:
   a  b  c
0  1  4  7

In [5]:
# Exercise 1: Write a solution to find the name, population, and area of the big countries
# A country is big if:
# it has an area of at least three million (i.e., 3000000 km2), or
# it has a population of at least twenty-five million (i.e., 25000000).
# Write a solution to find the name, population, and area of the big countries.
world = leetcode.big_countries()
solutions.big_countries()

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741

In [6]:
# Write your solution here.

In [7]:
# Exercise 2: Write a solution to find the ids of products that are both low fat and recyclable.
products = leetcode.recyclable_and_low_fat_products()
solutions.find_products()

   product_id
1           1
3           3

In [8]:
# Write your solution here.

In [9]:
# Exercise 3: Write a solution to find all customers who never order anything.
customers, orders = leetcode.customers_who_never_order()
solutions.find_customers()

  Customers
1     Henry
3       Max

In [10]:
# Write your solution here.

In [11]:
# Exercice 4: Write a solution to find all the authors that viewed at least one of their own articles.
views = leetcode.article_views_1()
solutions.article_views()

   id
2   7
5   4

In [12]:
# Write your solution here.

In [13]:
# Exercice 5: Write a solution to find the IDs of the invalid tweets. 
# The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15
tweets = leetcode.invalid_tweets()
solutions.invalid_tweets()

   tweet_id
1         2

In [14]:
# Write your solution here.

In [15]:
# Exercice 6: Write a solution to calculate the bonus of each employee. 
# The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. 
# The bonus of an employee is 0 otherwise
employees = leetcode.calculate_special_bonus()
solutions.calculate_special_bonus()

   employee_id   bonus
0            2     0.0
1            3     0.0
2            7  7400.0
3            8     0.0
4            9  7700.0

In [16]:
# Write your solution here.

In [17]:
# Exercice 7: Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.
users = leetcode.fix_names_in_table()
solutions.fix_names()

   user_id   name
0        1  Alice
1        2    Bob

In [18]:
# Write your solution here.

In [19]:
# Exercice 8:Write a solution to find the users who have valid emails.
# A valid e-mail has a prefix name and a domain where:
# The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
# The domain is '@leetcode.com'.
users = leetcode.find_users_with_valid_emails()

In [20]:
# Write your solution here.

In [21]:
# Exercice 9: Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. 
# Type I Diabetes always starts with DIAB1 prefix
patients = leetcode.patients_with_a_condition()
solutions.find_patients()

KeyError: 'patiend_id'

In [33]:
# Write your solution here.

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [ ]:
# Exercice 10: Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null
employee = leetcode.nth_highest_salary()
solutions.nth_highest_salary()

In [ ]:
# Write your solution here.

In [26]:
# Exercice 11: Write a solution to find the second highest distinct salary from the Employee table.
# If there is no second highest salary, return null (return None in Pandas).
employee = leetcode.second_highest_salary()

In [27]:
# Write your solution here.

In [28]:
# Exercice 12: Write a solution to find employees who have the highest salary in each of the departments
employee, department = leetcode.department_highest_salary()

In [29]:
# Write your solution here.

In [30]:
# Exercice 13:Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:
# The scores should be ranked from the highest to the lowest.
# If there is a tie between two scores, both should have the same ranking.
# After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.
# return the result table ordered by score in descending order.
scoress = leetcode.rank_scores()

In [31]:
# Write your solution here.

In [32]:
# Exercice 14: Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id
person = leetcode.delete_duplicate_emails()

In [33]:
# Write your solution here.

In [34]:
# Exercice 15: Write a solution to rearrange the Products table so that each row has (product_id, store, price).
# If a product is not available in a store, do not include a row with that product_id and store combination in the result table.
products = leetcode.rearrange_products_table()

In [35]:
# Write your solution here.

In [36]:
# Exercice 16: Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:
# "Low Salary": All the salaries strictly less than $20000.
# "Average Salary": All the salaries in the inclusive range [$20000, $50000].
# "High Salary": All the salaries strictly greater than $50000.
# The result table must contain all three categories. If there are no accounts in a category, return 0.
accounts = leetcode.count_salary_categories()

In [37]:
# Write your solution here.

In [38]:
# Exercice 17: Write a solution to calculate the total time in minutes spent by each employee on each day at the office.
# Note that within one day, an employee can enter and leave more than once.
# The time spent in the office for a single entry is out_time - in_time.
employees = leetcode.find_total_time_spent_by_each_employee()

In [39]:
# Write your solution here.

In [40]:
# Exercice 18: Write a solution to find the first login date for each player.
activity = leetcode.game_play_analysis_1()

In [41]:
# Write your solution here.

In [42]:
# Exercice 19: Write a solution to calculate the number of unique subjects each teacher teaches in the university.
teacher = leetcode.number_of_unique_subjects_taught_by_each_teacher()

In [43]:
# Write your solution here.

In [44]:
# Exercice 20: Write a solution to find all the classes that have at least five students.
courses = leetcode.classes_more_than_5_students()

In [45]:
# Write your solution here.

In [46]:
# Exercice 21: Write a solution to find the customer_number for the customer who has placed the largest number of orders.
orders = leetcode.customer_placing_the_largest_number_of_orders()

In [47]:
# Write your solution here.

In [48]:
# Exercice 22: Write a solution to find for each date the number of different products sold and their names.
# The sold products names for each date should be sorted lexicographically.
activities = leetcode.group_sold_prodcts_by_the_date()

In [49]:
# Write your solution here.

In [50]:
# Exercice 23: For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.
daily_sales = leetcode.daily_leads_and_partners()

In [51]:
# Write your solution here.

In [52]:
# Exercice 24: Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.
actor_director = leetcode.actors_and_directors_who_cooperated_at_least_three_times()

In [53]:
# Write your solution here.

In [54]:
# Exercice 25: Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null
employees, employee_uni = leetcode.replace_employee_id_with_the_unique_identifier()

In [55]:
# Write your solution here.

In [56]:
# Exercice 26: Write a solution to find the number of times each student attended each exam.
# Return the result table ordered by student_id and subject_name
students, subjects, examinations = leetcode.students_and_examinations()

In [57]:
# Write your solution here.

In [58]:
# Exercice 27: Write a solution to find managers with at least five direct reports
employee = leetcode.managers_with_at_least_5_direct_reports()

In [59]:
# Write your solution here.

In [60]:
# Exercice 28: Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".
sales_person, company, orders = leetcode.sales_person()

In [ ]:
# Write your solution here.